* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #d0d4d8;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.chat-container {
  width: 700px;
  height: 700px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 25px rgba(51, 151, 209, 0.1);

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header */

.chat-header {
  padding: 20px 24px;
  border-bottom: 1px solid #c0bfcc;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h1 {
  margin: 0;
  font-size: 22px;
  color:#075038;
}

.chat-header p {
  margin: 5px 0 0;
  color: #0d9165;
  font-size: 14px;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #2c4637;
}

.status-dot {
  width: 9px;
  height: 9px;
  background: #28a745;
  border-radius: 50%;
}

/* Messages */

.chat-messages {
  flex: 1;
  padding: 24px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 14px;
  line-height: 1.5;
  font-size: 15px;
}

.assistant-message {
  align-self: flex-start;
  background: #d6daf0;
  color: #4e3c3c;
}

.user-message {
  align-self: flex-end;
  background: #13887e;
  color: white;
}

/* Input */

.chat-input {
  padding: 16px;
  border-top: 1px solid #e5e5e5;

  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 13px 15px;

  border: 1px solid #ccc;
  border-radius: 10px;

  font-size: 15px;
  outline: none;
}

.chat-input input:focus {
  border-color: #555;
}

.chat-input button {
  padding: 13px 22px;

  border: none;
  border-radius: 10px;

  background: #0ba16f;
  color: white;

  font-size: 15px;
  cursor: pointer;
}

.chat-input button:hover {
  background: #3b3f64;
}